.MeetingContainer {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
}

.ChatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

.ChatContainer .MessageItem {
    padding: 16px;
}

@media (max-width: 600px) {
    .ChatContainer {
        margin-bottom: 8px;
        padding: 8px;
    }

    .ChatContainer .MessageItem {
        padding: 8px;
    }
}